.leaflet-container {
    width: 100%;
    height: 100vh;
}

.levelTitle {
    text-align: center;
    font-size: 30px;
}

@media (min-width: 400px) {  
    .App .worldMap {
      width: 100vw ;
      height: 200vh;
    }
}