.cls-1 {
    fill: #a97c50;
}

.cls-2 {
    fill: #3c2415;
}

.cls-3 {
    fill: #27aae1;
}

.cls-4 {
    fill: #ef4136;
}

.cls-5 {
    fill: #f9ed32;
}

.cls-6 {
    fill: #00a651;
}

.cls-7 {
    fill: #2b3990;
}

.cls-8 {
    fill: #da1c5c;
}

.cls-9 {
    fill: orange;
}

/* .container > * {
    border: 1px solid black;
} */

.pipes {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

.pipes-your-turn {
    background-image: radial-gradient(circle closest-corner at 50% 45%, white 10%, transparent 66%);
}