Paper {
  background: transparent;
}
.card {
  font-size: 8pt;
  height: 100%;
  width: 80%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 1s ease !important;
  -o-transition: all 1s ease !important;
  transition: all 1s ease !important;
  border: 1px solid black;
  position: absolute;
  background: transparent !important;
}

.cardClicked {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cardMatched {
  opacity: 0;
}

.cardFront {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden !important;
  background-color: black !important;
  -webkit-backface-visibility: hidden !important;
  background-image: url(../../assets/GreekGods/matching_card_clear.svg);
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.cardBack {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: white !important;
}

.cardContainer {
  position: relative;
  margin-bottom: 2em;
  height: 12vh;
  width: 10vh;
}

.cardBackImg {
  width: 82%;
  height: 82%;
}

.olympus {
  background-image: url(../../assets/olympus.jpg);
  background-size: cover;
  background-position: center;
}

.points {
  padding-bottom: 10em;
}